.navbar {
    background-color: red;
    color: white;
    padding: 10px;
  }
  
  .navItem {
    display: inline;
    margin-right: 20px;
  }
  
  /* İsteğe bağlı: Linklerin hover durumunu değiştirmek için */
  .navItem a {
    color: white;
    text-decoration: none;
  }
  
  .navItem a:hover {
    color: gray;
  }